<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>filter.profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>order</servlet-name>
        <servlet-class>filter.order</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>order</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <session-config>
       
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
      <!-- filter confifuration   -->
        <filter>
            <filter-name>first_filter</filter-name> 
            <filter-class>filter.myfilter</filter-class> 
            
            
        </filter>
        <filter-mapping>
            <filter-name>first_filter</filter-name>
            <url-pattern>/profile</url-pattern>
        </filter-mapping>
</web-app>
